:root {
  --primary-color: #209cee;
  --secondary-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px clamp(20px, 5vw, 100px);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 20px clamp(20px, 5vw, 100px);
}

#brand {
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: "Leckerli One", cursive;
}

.nav {
  display: flex;
  gap: 20px;
  color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#icon {
  display: none;
}

#main-nav {
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  padding: 20px clamp(20px, 5vw, 100px);
  transition: all 0.3s;
}

main .nav {
  flex-direction: column;
  display: block;
  text-align: center;
  line-height: 4rem;
font-size: 2rem;
}

.heading {
  letter-spacing: 1px;
  color: var(--primary-color);
  font-weight: 800;
  font-size: 2.5rem;
  margin: 2rem 0;
}